<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzHq9gfxMPq6dP8Wob3dLJtWAAG80zri0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023392936660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>raglanma-party</string>
	<key>STORAGE_BUCKET</key>
	<string>raglanma-party.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023392936660:ios:2dd3273ea607f0dcfd4141</string>
</dict>
</plist>